html {
	box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
}

h1 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
}

p {
  font-size: 2rem;
  margin: 0;
	text-align: left;
}

.bannercontent {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 30em;
	max-width: 50em;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1.5em;
	padding: 1em;
}

.banner {
	  max-height: 500px;
		position:relative;

}
